@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

.d-flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.full-width {
  width: 100%;
}
